* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: #fdf0e6;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 200px;
}

header {
    background-color: lightskyblue;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* header pake flex aja */
main {
    background-color: lightgreen;
}

footer {
    background-color: lightcoral;
}

@media screen and (min-width: 991px) {
    /* Header */
    /* Header-logo */

    /* Navlink */
    nav {
        background-color: aqua;
        width: 25%;

        display: flex;
        justify-content: space-between;
    }
    /* akhir dari header */
}
