/* header */
.header-page {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
}
/* Nav-link */
nav ul {
    list-style: none;
}

.navlink {
    display: flex;
    justify-content: space-around;
}

.navlink li a {
    text-decoration: none;
    color: white;
}
/* akhir dari header */

/* Footer */
footer {
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #fec429;
}

.footer-page {
    width: 238px;
    padding-top: 96.9px;
}

.group-of-logo {
    padding-left: 31px;
    width: 176.51px;
    display: flex;
    justify-content: space-between;
}

.group-copyright {
    margin-top: 16.4px;
    display: flex;
    align-items: center;
}
/* akhir dari footer */
