.nav-klontongan {
    background-color: #ffcc41;
}

.data-admin {
    height: 100vh;
    padding: 100px 10px;
}

.tambah-barang {
    padding: 0 0 200px;
}

.data-pembeli {
    padding: 250px 0 80px;
}
