* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vmin;
    width: 100%;

    display: grid;
}

.kotak-hitam {
    margin: auto;
    width: 945px;
    height: 470px;
    background-color: #35242469;

    display: grid;
    grid-template-columns: 352px;
    grid-template-rows: 55px 191px;
    grid-template-areas:
        'buat'
        'form';

    place-content: center;
}

.kotak-hitam h3 {
    grid-area: buat;

    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.kotak-hitam form {
    grid-area: form;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-form input {
    width: 352px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 2px;
}

.signup-form .btn-submit {
    width: 273px;
    height: 41px;
    align-self: center;
    background-color: #3e3e3e;
    color: white;
    border-radius: 3px;
}
