* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
}

main section.hero-content {
    height: 500px;
    padding: 70px 12px 35px;

    background-image: url(../../img/beranda-page/hero-section-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title-hero-content {
    font-size: 24px;
    line-height: 36px;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

p.caption-hero-content {
    margin: 230px 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

a.hero-content-btn {
    margin: auto;
    text-decoration: none;
    color: white;
    background-color: #fec429;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 20px;
}

a.hero-content-btn:hover {
    background-color: #f1bc28;
}

main section.aboutus {
    padding: 40px 30px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title-aboutus {
    order: 2;
    font-weight: 500;
    font-size: 24px;
    padding: 0 0 20px;
}

img {
    order: 1;
    width: 100%;
    border-radius: 5px;
}

img.image-aboutus-mobile {
    display: inline;
    margin: 0 15px 20px;
}
img.image-aboutus-tablet {
    display: none;
}
img.image-aboutus-desktop {
    display: none;
}

p.text-aboutus {
    order: 3;
    width: 100%;
    text-align: center;

    font-weight: 300;
    font-size: 1em;
    line-height: 22px;
}

main section.advantages {
    padding: 70px 75px;
    background-color: #007580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.advantages h2.title-advantages {
    font-size: 24px;
    margin: 0 0 15px;
}

span.card {
    display: block;
    width: 220px;
    height: 260px;
    background-color: #0a7a84;
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.15);

    padding: 10px 15px;
    margin: 40px 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

span.card img.image-card {
    order: 1;
}
span.card h4.topic-card {
    order: 2;
    font-size: 24px;
}
span.card p.caption-card {
    order: 3;
    font-size: 16px;
    text-align: center;
}

span.card:nth-child(2) img.image-card {
    width: 71.96px;
}
span.card:nth-child(3) img.image-card {
    width: 69.88px;
}
span.card:nth-child(4) img.image-card {
    width: 64.94px;
}

main section.toko {
    padding: 65px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title-toko {
    font-size: 20px;
    text-align: center;
    margin: 0 0 10px;
}

p.caption-toko {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    margin: 6px 0 0;
}

.group-image img {
    width: 130px;
    margin: 40px 0;
}

.group-image img.image-toko-tablet,
img.image-toko-desktop {
    display: none;
}

a.toko-btn {
    text-decoration: none;
    color: white;
    background-color: #fec429;
    border-radius: 5px;
    padding: 10px 16px;
}

a.toko-btn:hover {
    background-color: #f0ba27;
}

main section.comments {
    padding: 55px 38px;
    background-color: #fec429;
    color: white;
}

h2.title-comments {
    font-size: 18px;
    text-align: center;
}

.card-comment {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 55px 0;
}

img.picture-user {
    order: 1;
    width: 65px;
    height: 65px;
    border-radius: 33px;
    object-fit: cover;
    object-position: center;

    margin: 35px;
}

p.comment-user {
    order: 2;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

main section.to-login {
    padding: 50px 28px;

    background-image: url(../../img/beranda-page/to-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

span.black-mask {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 28px;
    right: 28px;
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}
h3.title-to-login,
p.caption-to-login,
a.btn-to-login {
    position: relative;
    z-index: 2;
}

h3.title-to-login {
    font-size: 24px;
    color: white;

    margin: 71px 0 15px;
}

p.caption-to-login {
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-align: center;

    margin: 0 0 30px;
}

a.btn-to-login {
    display: block;
    padding: 5px 15px;
    width: 72px;
    border-radius: 5px;
    background-color: #fec429;

    font-size: 14px;
    text-decoration: none;
    color: white;

    margin: 0 0 76px;
}

a.btn-to-login:active {
    background-color: #eeb825;
}

@media screen and (min-width: 768px) {
    main section.hero-content {
        height: 500px;
        padding: 100px 87px 60px;

        background-image: url(../../img/beranda-page/hero-section-tablet.jpg);

        justify-content: flex-end;
        align-items: flex-start;

        margin: -100px 0 0;
    }

    h1.title-hero-content {
        font-size: 2em;
        line-height: 36px;
        text-align: left;
        margin: 0 0 15px;
    }

    p.caption-hero-content {
        margin: 0 0 21px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }

    a.hero-content-btn {
        margin: 0;
        font-size: 16px;
        padding: 6px 15px;
    }

    main section.aboutus {
        padding: 80px 50.5px;

        display: grid;
        grid-template: 'image title' 42.5px 'image text' auto / 1fr 1fr;
    }

    h2.title-aboutus {
        grid-area: title;
        font-size: 24px;
        text-align: center;
    }

    img {
        grid-area: image;
        width: 95%;
    }

    img.image-aboutus-mobile {
        display: none;
    }
    img.image-aboutus-tablet {
        display: inline;
    }

    p.text-aboutus {
        grid-area: text;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;

        padding: 0 0 0 34px;
    }

    main section.advantages {
        padding: 100px 80px;
        display: grid;
        grid-template: 'topic-adv topic-adv topic-adv' 40px 'card-one card-two card-three' auto / 1fr 1fr 1fr;
    }

    h2.title-advantages {
        grid-area: topic-adv;
        font-weight: 500;
        font-size: 1.5em;
        color: white;
    }

    span.card {
        width: 175px;
        height: 220px;
        padding: 20px 10px;

        place-self: center;
    }

    span.card:nth-child(2) img.image-card {
        width: 60.5px;
    }
    span.card:nth-child(3) img.image-card {
        width: 60.92px;
    }
    span.card:last-child img.image-card {
        width: 61px;
    }

    span.card h4.topic-card {
        font-size: 1.25em;
    }

    span.card p.caption-card {
        font-size: 0.75em;
        line-height: 18px;
    }

    main section.toko {
        padding: 50px 125px;
    }

    h2.title-toko {
        font-weight: 400;
        font-size: 1.5em;
    }

    p.caption-toko {
        font-weight: 300;
        font-size: 1em;
        margin: 0 0 37px;
    }

    .group-image {
        display: flex;
        justify-content: space-between;
        margin: 0 0 48px;
    }

    .group-image img {
        width: 200px;
        object-fit: cover;

        margin: 0;
    }

    .group-image img.image-toko-mobile {
        height: 147.06px;
    }
    .group-image img.image-toko-tablet {
        display: inline;
        height: 132.84px;
    }

    main section.comments {
        padding: 70px 60px;

        display: grid;
        grid-template: 'title title' 73px 'card-com card-com' auto / 1fr 1fr;
    }

    h2.title-comments {
        grid-area: title;
        font-size: 20px;
    }

    .card-comment {
        height: 215px;
        margin: 0;

        place-self: center;
    }

    main section.to-login {
        padding: 40px 125px;
    }

    section.to-login .black-mask {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #83663331;
    }

    section.to-login h3.title-to-login {
        margin: 0 0 10px;
        font-size: 1.5em;
    }

    section.to-login p.caption-to-login {
        margin: 0 0 53px;
        font-size: 0.875em;
    }

    section.to-login a.btn-to-login {
        margin: 0;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        position: relative;
    }

    main section.hero-content {
        padding: 275px 100px 215px 638px;
        height: 100vh;

        background-image: url(../../img/beranda-page/hero-section-desktop.jpg);
        background-size: cover;
        background-position: 0 -120px;

        display: block;
    }

    h1.title-hero-content {
        font-weight: 600;
        font-size: 3em;
        line-height: 60px;
        margin: 0 0 16px;
    }

    p.caption-hero-content {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 41px;
    }

    a.hero-content-btn {
        padding: 10px 20px;
        font-size: 1em;
    }

    main section.aboutus {
        padding: 120px 158px;

        grid-template-areas:
            'title title'
            'image text';
        grid-template-rows: 93px auto;
        place-items: start center;
    }

    section.aboutus h2.title-aboutus {
        font-weight: 600;
        font-size: 2em;
    }

    section.aboutus img {
        width: 500px;
        height: 400px;
        object-fit: cover;
    }

    img.image-aboutus-tablet {
        display: none;
    }
    img.image-aboutus-desktop {
        display: inline;
    }

    p.text-aboutus {
        font-size: 20px;
        line-height: 32px;
        padding: 0 0 0 100px;
    }

    main section.advantages {
        padding: 200px 278px;
    }

    section.advantages h2.title-advantages {
        font-size: 2em;
    }

    section.advantages span.card {
        width: 220px;
        height: 260px;
        padding: 25px 15px;

        margin: 63px 0 20px;
    }

    span.card:nth-child(2) img.image-card {
        width: 71.96px;
    }
    span.card:nth-child(3) img.image-card {
        width: 69.88px;
    }
    span.card:last-child img.image-card {
        width: 64.94px;
    }

    main section.toko {
        padding: 115px 225px;
    }

    h2.title-toko {
        font-size: 2em;
    }

    p.caption-toko {
        font-size: 1.125em;
        margin: 0 0 102.8px;
    }

    .group-image {
        margin: 0 0 117px;
    }

    .group-image img {
        width: 250px;
    }

    .group-image img.image-toko-mobile {
        order: 3;
        height: 183.82px;
    }
    .group-image img.image-toko-tablet {
        order: 1;
        height: 166.05px;
    }
    .group-image img.image-toko-desktop {
        order: 2;
        display: inline;
        height: 203.58px;
    }

    a.toko-btn {
        padding: 15px 25px;
        font-size: 1.25em;
    }

    main section.comments {
        padding: 130px 210px 241px;
        background-color: #007580;
    }

    section.comments h2.title-comments {
        font-size: 2em;
    }

    section.comments .card-comment {
        width: 400px;
        margin: 100px 0;
    }

    .card-comment img.picture-user {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 50px;
    }

    .card-comment p.comment-user {
        font-size: 1.25em;
    }

    main section.to-login {
        position: absolute;
        bottom: 210px;
        left: calc(50% - 450px);

        width: 900px;
        height: 300px;
        border-radius: 40px;
        border: 10px solid #fec429;
        overflow: hidden;

        background-image: url(../../img/beranda-page/to-login-desktop.jpg);
        background-size: cover;
        background-position: 0 -40px;

        padding: 67px 150px;
    }

    section.to-login .black-mask {
        background-color: #00262a3a;
    }

    section.to-login h3.title-to-login {
        font-size: 2em;
        margin: 0 0 10px;
    }

    section.to-login p.caption-to-login {
        font-size: 1em;
        margin: 0 0 48px;
    }

    section.to-login a.btn-to-login {
        padding: 10px 22px;
        width: 92px;
        font-size: 1em;
    }
}
