* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
}

main section.hero-content {
    height: 500px;
    padding: 70px 12px 35px;

    background-image: url(../../img/beranda-page/hero-section-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title-hero-content {
    font-size: 24px;
    line-height: 36px;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

p.caption-hero-content {
    margin: 230px 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

a.hero-content-btn {
    margin: auto;
    text-decoration: none;
    color: white;
    background-color: #fec429;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 20px;
}

a.hero-content-btn:hover {
    background-color: #f1bc28;
}

main section.aboutus {
    padding: 40px 30px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title-aboutus {
    order: 2;
    font-weight: 500;
    font-size: 24px;
    padding: 0 0 20px;
}

img {
    order: 1;
    width: 100%;
    border-radius: 5px;
}

img.image-aboutus-mobile {
    display: inline;
    margin: 0 15px 20px;
}
img.image-aboutus-tablet {
    display: none;
}
img.image-aboutus-desktop {
    display: none;
}

p.text-aboutus {
    order: 3;
    width: 100%;
    text-align: center;

    font-weight: 300;
    font-size: 1em;
    line-height: 22px;
}

main section.advantages {
    padding: 70px 75px;
    background-color: #007580;
    color: white;
}

section.advantages h2.title-advantages {
    font-size: 24px;
    margin: 0 0 15px;
}

section.advantages span.card {
    display: block;
    width: 220px;
    height: 260px;
    background-color: #0a7a84;
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.15);

    padding: 10px 15px;
    margin: 40px 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

span.card img.image-card {
    order: 1;
}
span.card h4.topic-card {
    order: 2;
    font-size: 24px;
}
span.card p.caption-card {
    order: 3;
    font-size: 16px;
    text-align: center;
}

span.card:nth-child(2) img.image-card {
    width: 71.96px;
}

span.card:nth-child(3) img.image-card {
    width: 69.88px;
}

span.card:nth-child(4) img.image-card {
    width: 64.94px;
}

main section.toko {
    padding: 65px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title-toko {
    font-size: 20px;
    text-align: center;
    margin: 0 0 10px;
}

p.caption-toko {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    margin: 6px 0 0;
}

.group-image img {
    width: 130px;
    margin: 40px 0;
}

.group-image img.image-toko-tablet,
img.image-toko-desktop {
    display: none;
}

a.toko-btn {
    text-decoration: none;
    color: white;
    background-color: #fec429;
    border-radius: 5px;
    padding: 10px 16px;
}

a.toko-btn:hover {
    background-color: #f0ba27;
}

main section.comments {
    padding: 55px 38px;
    background-color: #fec429;
    color: white;
}

section.comments h2.title-comments {
    font-size: 18px;
    text-align: center;
}

section.comments .card-comment {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 55px 0;
}

section.comments img.picture-user {
    order: 1;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

section.comments p.comment-user {
    order: 2;
    font-size: 16px;
    line-height: 22px;
}

main section.to-login {
    padding: 50px 28px;

    background-image: url(../../img/beranda-page/to-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

span.black-mask {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 28px;
    right: 28px;
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}
h3.title-to-login,
p.caption-to-login,
a.btn-to-login {
    position: relative;
    z-index: 2;
}

h3.title-to-login {
    font-size: 24px;
    color: white;

    margin: 71px 0 15px;
}

p.caption-to-login {
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-align: center;

    margin: 0 0 30px;
}

a.btn-to-login {
    display: block;
    padding: 5px 15px;
    width: 72px;
    border-radius: 5px;
    background-color: #fec429;

    font-size: 14px;
    text-decoration: none;
    color: white;

    margin: 0 0 76px;
}

a.btn-to-login:active {
    background-color: #eeb825;
}

@media screen and (min-width: 768px) {
    main section.hero-content {
        height: 500px;
        padding: 100px 87px 60px;

        background-image: url(../../img/beranda-page/hero-section-tablet.jpg);

        justify-content: flex-end;
        align-items: flex-start;

        margin: -100px 0 0;
    }

    h1.title-hero-content {
        font-size: 2em;
        line-height: 36px;
        text-align: left;
        margin: 0 0 15px;
    }

    p.caption-hero-content {
        margin: 0 0 21px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }

    a.hero-content-btn {
        margin: 0;
        font-size: 16px;
        padding: 6px 15px;
    }

    main section.aboutus {
        padding: 80px 50.5px;

        display: grid;
        grid-template: 'image title' 42.5px 'image text' auto / 1fr 1fr;
    }

    section.aboutus h2.title-aboutus {
        grid-area: title;
        font-size: 24px;
        text-align: center;
    }

    section.aboutus img {
        grid-area: image;
        width: 95%;
    }

    img.image-aboutus-mobile {
        display: none;
    }

    img.image-aboutus-tablet {
        display: inline;
    }

    section.aboutus p.text-aboutus {
        grid-area: text;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;

        padding: 0 0 0 34px;
    }

    main section.advantages {
    }
    main section.toko {
    }
    main section.comments {
    }
}
