* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.container {
    width: 100%;
    height: auto;
    background-color: white;

    display: grid;
    grid-template: 'nav' 80px 'content' 1fr 'aside' 0.85fr / 1fr;

    position: relative;
}

nav {
    height: 80px;
    background-color: #fec429;
    display: flex;
}

nav a.back-btn {
    display: block;
    padding: 28px 30px;
}

nav a img.back {
    width: 25px;
}

nav h2.title-page {
    font-weight: 500;
    font-size: 20px;
    align-self: center;
}

main {
    width: 100%;
    padding: 30px 40px;
}

main .selected-all,
.products {
    display: flex;
}

main input {
    margin: 0 30px 0 0;
}

main hr.divider-content {
    margin: 15px 0;
}

main .products {
    margin: 0 0 15px;
}

main span.box-products {
    display: block;
    width: 231px;
    height: 100px;
    padding: 10px 15px 10px 10px;

    border: 0.5px solid #ccc;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-desc p.amount-of-product {
    margin: 5px 0 0;
}

.product-desc p.amount-of-product,
p.product-price {
    font-size: 14px;
    color: #292929;
}

span.prdct-price {
    font-weight: bolder;
}

aside {
    position: fixed;
    bottom: 0;
    z-index: 1;

    width: 100%;
    background-color: white;
    padding: 15px 5px;
    box-shadow: 0 -1px 10px #cfcfcf6e;
}

p.price-product {
    margin: 0 13px 5px;
    color: #292929;

    display: flex;
    justify-content: space-between;
}
p.price-product::before {
    content: 'Harga';
}

p.amount-product {
    margin: 0 13px;
    color: #292929;

    display: flex;
    justify-content: space-between;
}
p.amount-product::before {
    content: 'Jumlah barang';
}

hr.divider-aside {
    margin: 15px 0 10px;
}

h4.total {
    margin: 0 15px 23px;
    color: #fa591d;

    display: flex;
    justify-content: space-between;
}
h4.total::before {
    content: 'Total harga';
    color: #292929;
}

aside a.btn-buy {
    display: block;
    padding: 8px 166px;
    background-color: #fec429;
    border-radius: 5px;

    text-decoration: none;
    color: white;
}

a.btn-buy:hover {
    background-color: #eeb927;
}

@media screen and (min-width: 768px) {
    nav a.back-btn {
        padding: 28px 35px;
    }

    main {
        padding: 43px 135px;
    }

    aside {
        display: grid;
    }

    .box-confirmation {
        margin: auto;
        width: 375px;
        background-color: white;
        padding: 20px 5px;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        margin: auto;
        max-width: 768px;

        box-shadow: 1px 2px 10px rgba(204, 204, 204, 0.425);
    }

    aside {
        width: 768px;
    }
}
