<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <!-- My Style -->
    <link rel="stylesheet" href="../css/components/header-footer.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <img src="../img/header/logo-header.png" alt="K'lontongan" class="logo-header">
        <nav class="nav-link">
            <a href="#" class="nav-items">Beranda</a>
            <a href="#" class="nav-items">Toko</a>
            <a href="#" class="nav-items">Tentang kami</a>
            <div class="profile">
                <img src="../img/header/account.png" alt="user" class="picture-user">
                <div class="profile-desktop" id="profile-dropdown">
                    <a href="../html/profile-page.html">Pengaturan Profile</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </nav>
        <div class="nav-mobile">
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <ul class="nav-link-mobile" id="nav-mobile-non-active">
                <li class="nav-items-mobile"><a href="#">Beranda</a></li>
                <li class="nav-items-mobile"><a href="#">Toko</a></li>
                <li class="nav-items-mobile"><a href="#">Tentang kami</a></li>
                <li class="nav-items-mobile"><a href="#">Pengaturan Akun</a></li>
                <li class="nav-items-mobile"><a href="#" class="logout-btn">Logout</a></li>
            </ul>
        </div>
    </header>
    <footer>
        <div class="social-media">
            <a href="#"><img src="../img/footer/instagram-hitam.svg" alt="Instagram"></a>
            <a href="#"><img src="../img/footer/line-hitam.svg" alt="Line"></a>
            <a href="#"><img src="../img/footer/facebook-hitam.svg" alt="Facebook"></a>
        </div>
        <span class="copyright">
            <p> Copyright by &nbsp;</p><a href="#"> <img src="../img/footer/logo-footer.png" alt="K'lontongan"
                    class="logo-footer"></a>
        </span>
    </footer>

    <script src="../js/header.js"></script>
</body>

</html>