* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Style */
.container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
}

/* main */
main {
    width: 100%;
    padding: 70px 5px;
    background-color: #f0f4f7;
}

main .template-of-card {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 13px 10px 30px;
    width: 135px;
    height: 190px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    position: relative;
}

.image-products {
    width: 100%;
    height: 96px;
}

.image-products span.category {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 0 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #007580;
    z-index: 1;
    color: #fec429;
    font-size: 0.875em;
}

.image-products img {
    width: 100%;
    height: 96px;
    object-fit: cover;
}

.description-products {
    padding: 10px;
}

.description-products h4.products-name {
    font-weight: 400;
    font-size: 14px;
}

.description-products p.products-price {
    font-weight: 400;
    font-size: 16px;
    color: #fec429;
    margin-bottom: 8px;
}

.hargadanjumlah {
    margin: 0 0 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hargadanjumlah .products-price {
    align-self: center;
}

.hargadanjumlah input {
    border: 0.3px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 5px;
    width: 70px;
    text-align: center;
}

.description-products button.btn-pesan {
    display: block;
    background-color: #fec429;
    padding: 6px 41px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
}

.description-products button.btn-pesan:hover {
    background-color: #f5be29;
}

/* Responsive design */
/* for tablet */
@media screen and (min-width: 768px) {
    main {
        padding: 100px 10px;
    }

    .card {
        margin: 15px 10px 35px;
        width: 165px;
        height: 210px;
    }

    .image-products {
        height: 105px;
    }

    .image-products span.category {
        width: 65px;
        height: 16px;
    }

    .image-products img {
        height: 105px;
    }

    .description-products {
        padding: 15px 15px 10px;
    }

    .description-products button.btn-pesan {
        padding: 7px 51px;
    }
}

@media screen and (min-width: 1366px) {
    main {
        padding: 120px 50px;
    }

    .card {
        margin: 15px 25px 35px;
        width: 210px;
        height: 280px;
    }

    .image-products {
        height: 150px;
    }

    .image-products span.category {
        top: 20px;
        width: 65px;
        height: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 3px 12px;
        font-size: 12px;
    }

    .image-products img {
        height: 150px;
    }

    .description-products {
        padding: 15px 15px 10px;
    }

    .description-products h4.products-name {
        font-size: 17px;
    }

    .description-products p.products-price {
        margin: 3px 0 12px;
        font-weight: 600;
        font-size: 18px;
    }

    .description-products button.btn-pesan {
        padding: 8px 70.5px;
        font-size: 14px;
    }
}
