<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        p {
            color: rgb(255, 49, 49);
            text-align: center;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <p>email / password salah!</p>
</body>

</html>