@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Column responsive */
/* for desktop */
@media screen and (min-width: 991px) {
    .col-d-1 {
        width: 8.33%;
    }
    .col-d-2 {
        width: 16.66%;
    }
    .col-d-3 {
        width: 25%;
    }
    .col-d-4 {
        width: 33.33%;
    }
    .col-d-5 {
        width: 41.66%;
    }
    .col-d-6 {
        width: 50%;
    }
    .col-d-7 {
        width: 58.33%;
    }
    .col-d-8 {
        width: 66.66%;
    }
    .col-d-9 {
        width: 75%;
    }
    .col-d-10 {
        width: 83.33%;
    }
    .col-d-11 {
        width: 91.66%;
    }
    .col-d-12 {
        width: 100%;
    }
}
/* for tablet */
@media screen and (min-width: 661px) and (max-width: 990px) {
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
}

/* for mobile */
@media screen and (min-width: 450px) and (max-width: 990px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

.row {
    width: 100%;
    text-align: center;
}

/* Style */
.container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
}

/* Main */
main {
    width: 100%;
}
/* akhir dari main */

/* Footer */
footer {
    height: 200px;
    display: flex;
    justify-content: center;
}

.footer-page {
    width: 238px;
    padding-top: 42.8px;
}

.group-of-logo {
    padding-left: 31px;
    width: 176.51px;
    display: flex;
    justify-content: space-between;
}

.group-copyright {
    margin-top: 16.4px;
    display: flex;
    align-items: center;
}
/* akhir dari footer */

/* Responsive design */
/* for desktop */
@media screen and (min-width: 991px) and (max-width: 1700px) {
    .container {
        grid-template-rows: 100px auto 200px;
    }

    /* Main */
    main {
        margin-top: -100px;
    }
    .main-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 868px 768px 768px 768px 768px 768px;
        grid-template-areas:
            'hero-content'
            'about-us'
            'advantages'
            'toko'
            'comments'
            'login-main';
    }

    /*          hero-content */
    .hero-content {
        grid-area: hero-content;
        position: relative;
    }

    .inside-hero-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .content-hero-content {
        position: relative;
        z-index: 2;

        padding-top: 18%;
        padding-left: 50%;
        padding-right: 5%;
    }

    .content-hero-content h1 {
        font-size: 3.5em;
        word-spacing: 2px;
        letter-spacing: 2px;
        color: white;
        margin-bottom: 6%;
    }

    .content-hero-content p {
        font-size: 1em;
        font-weight: 400;
        color: white;
        word-spacing: 1.25px;
        letter-spacing: 0.8px;
    }

    .content-hero-content p:nth-child(3) {
        margin-bottom: 4%;
    }

    .content-hero-content .btn-hero-content {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-weight: 300;
        padding: 10px 20px;
        background-color: #fec429;
        border-radius: 5px;
    }

    .bkground-hero-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        background-image: url(../../img/main/hero-content/background-image.jpg);
        background-size: cover;
        background-position: center;
    }

    .bkground-hero-content .black-filter {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.45);
    }
    /*          akhir dari hero-content */

    /*          about-us */
    .aboutus {
        grid-area: about-us;
        display: grid;
    }

    .inside-aboutus {
        margin: auto;
        max-width: 1200px;
    }

    .inside-aboutus .title-section-aboutus {
        margin-bottom: 55px;
    }

    .inside-aboutus .title-section-aboutus .col-d-12 h3 {
        font-size: 1.5em;
        letter-spacing: 2px;
        word-spacing: 1.5px;
        font-weight: 600;
    }

    .aboutus .content-section-aboutus {
        display: flex;
        align-items: center;
    }

    .aboutus .content-section-aboutus .col-d-5:first-child img {
        border-radius: 10px;
    }

    .inside-aboutus .content-section-aboutus .col-d-5:last-child {
        margin-left: 105px;
    }

    .inside-aboutus .content-section-aboutus .col-d-5:last-child p {
        letter-spacing: 0.65px;
        word-spacing: 1.2px;
        line-height: 22.5px;
        font-size: 1em;
        font-weight: 400;
        text-align: center;
    }
    /*          akhir dari about-us */

    /*          #pakeKlontonganAja  */
    .advantages {
        grid-area: advantages;
        background-color: #fec429;
        display: grid;
    }

    .inside-advantages {
        margin: auto;
        width: 809.9px;
    }

    .inside-advantages .title-section-advantages h3 {
        font-weight: 500;
        font-size: 2em;
        color: white;
    }

    .inside-advantages .content-advantages {
        margin-top: 65px;
        display: flex;
        width: 809.9px;
        justify-content: space-between;
    }

    .box {
        width: 219.97px;
        height: 261.09px;
        background-color: #ffd04f;
        box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 15px;
    }

    .box p:nth-child(2) {
        font-weight: bold;
        font-size: 1.5em;
        color: #484848;
    }

    .box p:last-child {
        margin-top: 18px;
        font-size: 1em;
        text-align: center;
        color: #787878;
    }

    .one img {
        margin-top: 20.5px;
        margin-bottom: 17.5px;
    }

    .two img {
        margin-top: 25.5px;
        margin-bottom: 15px;
    }

    .three img {
        margin-top: 30px;
        margin-bottom: 17px;
    }
    /*          akhir dari advantages */

    /*          toko */
    .toko {
        grid-area: toko;
        display: grid;
    }

    .inside-toko {
        margin: auto;
        width: 850px;
        text-align: center;
    }

    .inside-toko .title-section-toko {
        margin-bottom: 10px;
    }

    .inside-toko .title-section-toko h3 {
        font-weight: 600;
        font-size: 2em;
    }

    .inside-toko .row:nth-child(2) {
        font-size: 1em;
    }

    .inside-toko .row:nth-child(2) {
        margin-bottom: 101.8px;
    }

    .inside-toko .row:nth-child(3) {
        margin-bottom: 102.6px;
        width: 913px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inside-toko a {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 1em;
        padding: 15px 25px;
        background-color: #fec429;
        border-radius: 5px;

        color: white;
    }
    /*          akhir dari toko */

    /*          comments */
    .comments {
        grid-area: comments;
        display: grid;
        background-color: #fbe6c2;
    }

    .inside-comments {
        margin: auto;
    }

    .inside-comments .title-section-comments {
        margin-bottom: 100px;
    }

    .inside-comments .title-section-comments h4 {
        font-size: 1.5em;
        font-weight: 500;
    }

    .inside-comments .row:nth-child(2) {
        width: 850px;
        display: flex;
        justify-content: space-between;
    }

    .comment-content .image-person {
        margin: auto;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
    }

    .comment-content .image-person img {
        object-fit: cover;
        object-position: -32px 0;
    }

    .comment-content p {
        margin-top: 30px;
        letter-spacing: 0.5px;
        word-spacing: 1.5px;
        line-height: 1.25em;
    }
    /*          akhir dari comments */

    /*          login-main */
    .login-main {
        grid-area: login-main;
    }

    .inside-login-main {
        position: relative;
    }

    .inside-login-main .content-login-main {
        text-align: center;
        position: relative;
        top: 258px;
        z-index: 2;
    }

    .content-login-main h3 {
        font-size: 2.5em;
        color: white;
        margin-bottom: 13px;
    }

    .content-login-main p {
        font-size: 1.05em;
        color: white;
        font-weight: 300;
        margin-bottom: 70px;
    }

    .content-login-main .btn-login-main {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: 300;
        padding: 13px 22px;
        background-color: #fec429;
        border-radius: 5px;
    }

    .bkground-login-main {
        width: 1088px;
        height: 600px;
        background-image: url(../../img/main/login-main/background.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        top: -100px;
        left: calc(50% - (1088px / 2));
    }

    .bkground-login-main .black-filter {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.35);
    }
    /*          akhir dari login-main */
    /* akhir dari main */
}

/* for tablet */
@media screen and (min-width: 661px) and (max-width: 990px) {
    .container {
        grid-template-rows: 80px auto 200px;
    }

    /* Login-header */
    .login-header {
        display: none;
    }
    /* akhir dari header */
}

/* for mobile */
@media screen and (min-width: 450px) and (max-width: 660px) {
}
