* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    background-color: white;
}

.container nav {
    width: 100%;
    height: 65px;
    background-color: #fec429;
    display: flex;
}

nav a.back-btn {
    display: block;
    width: 60px;
    height: 65px;
    padding: 21.5px 19px;
}

a.back-btn img.back {
    width: 22px;
}

nav h2.title-page {
    font-weight: 500;
    font-size: 18px;
    line-height: 65px;
}

.container main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .main-content {
    padding: 25px 12.5px;
}

.main-content h3.sub-title {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 15px;
}

h3.sub-title:nth-child(3) {
    margin: 40px 0 15px;
}

.main-content .box-option {
    width: 100%;
    height: 70px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 0 7.5px;

    display: flex;
    align-items: center;
}

.box-option a {
    text-decoration: none;
    color: #7b7b7b;
    padding: 25px 50px 25px 0;
}

.main-content .box-option-brand {
    width: 100%;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 20px 15px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-option-brand a img {
    width: 80px;
    height: 30px;
    object-fit: cover;
}

.box-option-brand p {
    display: none;
}

.box-option-brand:hover a img {
    filter: grayscale(1);
}

.box-option-brand:hover p.not-available {
    display: block;
    padding: 0 20px;
    font-size: 12px;
    color: rgb(82, 82, 82);
}

main aside {
    width: 100%;
}

.side-content {
    background-color: white;
    padding: 20px 23px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 0.7px solid #7070703a;
}

.side-content h4.title-side-content {
    font-size: 1em;
    padding: 0 0 10px;
}

.side-content .top-side-content {
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
}

.top-side-content p {
    font-size: 1em;
    color: #606060;
}

.side-content hr.divider {
    margin: 10px 0;
    color: #dddddd;
}

.side-content .main-side-content {
    padding: 10px 0 40px;
    display: flex;
    justify-content: space-between;
}

.main-side-content h4 {
    font-size: 18px;
}

.main-side-content h4:last-child {
    color: #fa591d;
}

.side-content a.btn-payment {
    display: block;
    width: 100%;
    height: 51px;
    text-align: center;
    line-height: 51px;
    background-color: #fec429;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

a.btn-payment:hover {
    background-color: #f1bc28;
}

.side-content p.alert {
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    color: #484848;
}

.side-content .notification {
    max-width: 400px;
    margin: 25px 0;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.notification .image img {
    width: 27px;
    margin: 5px 11px 0 0;
}

.notification p:first-child {
    font-weight: 600;
    font-size: 14px;
}

.notification p:last-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.non-active {
    display: none;
}

@media screen and (min-width: 768px) {
    nav {
        height: 80px;
    }

    nav a.back-btn {
        width: 80px;
        height: 80px;
        padding: 19.5px 30px;
    }

    a.back-btn img.back {
        width: 25px;
    }

    .container main {
        flex-direction: row;
        padding: 25px 30px 30px 20px;
    }

    section.main-content {
        width: 58%;
    }

    .main-content .box-option {
        width: 80%;
    }

    .main-content .box-option-brand {
        width: 80%;
    }

    aside.side-content {
        width: 42%;
    }

    .side-content {
        padding: 20px 5px;
        border-top: 0;
    }

    .side-content .box-desktop {
        width: 290px;
        padding: 15px 20px 25px;
        border-radius: 10px;
        border: 1px solid #70707070;
    }

    .side-content h4.title-side-content {
        font-size: 18px;
    }

    .side-content .top-side-content {
        margin: 0 0 14.5px;
    }

    .side-content .main-side-content {
        padding: 10px 0 20px;
    }

    .side-content a.btn-payment {
        padding: 0 100px;
        background-color: #fec429;
        border-radius: 10px;
        color: white;
        text-decoration: none;
    }

    .side-content .notification {
        margin: 15px 0;
    }
}

@media screen and (min-width: 1366px) {
    nav {
        height: 100px;
    }

    nav a.back-btn {
        width: 142px;
        height: 100px;
        padding: 15px 55px;
    }

    a.back-btn img.back {
        width: 32px;
    }

    nav h2.title-page {
        font-size: 24px;
    }

    .container main {
        padding: 56px 130px;
    }

    section.main-content {
        width: 60%;
    }

    aside.side-content {
        width: 40%;
    }

    .side-content .box-desktop {
        width: 387px;
        margin: 20px auto;
    }

    .side-content a.btn-payment {
        display: block;
        padding: 0 140px;
        background-color: #fec429;
        border-radius: 10px;
        color: white;
        text-decoration: none;
    }

    a.btn-payment:hover {
        background-color: #f1bc28;
    }

    .side-content .notification {
        margin: 15px auto;
    }
}
