* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: white;

    position: relative;
}

nav {
    height: 80px;
    background-color: #fec429;
    display: flex;
}

nav a.back-btn {
    display: block;
    padding: 28px 30px;
}

nav a img.back {
    width: 25px;
}

nav h2.title-page {
    font-weight: 500;
    font-size: 20px;
    align-self: center;
}

main {
    width: 100%;
    padding: 20px 15px;
}

.box-of-address {
    margin: 15px 0 22px;
    padding: 10px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    cursor: default;
}

.box-of-address:hover,
.box-of-address:active {
    background-color: rgb(245, 245, 245);
}

p.user-address {
    color: #787878;
}

a.new-address {
    padding: 7px 15px;
    border: 1px solid #707070;
    border-radius: 5px;

    text-decoration: none;
    color: #707070;
}

a.new-address:hover,
a.new-address:active {
    background-color: rgb(245, 245, 245);
}

h3.title-main:nth-child(4) {
    margin: 32px 0 15px;
}

.group-box-option {
    display: flex;
    flex-direction: column;
}

.box-option {
    width: 345px;
    height: 61px;
    padding: 0 15px;

    border-bottom: 1px solid #dbdbdb;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.box-option:first-child {
    border-top: 1px solid #dbdbdb;
}

p.option-one,
p.estimate-price,
p.alerting-feature {
    color: #616161;
}

img.brand {
    width: 80px;
}

p.option-one {
    font-weight: 500;
    font-size: 1.1em;
}

p.alerting-feature {
    display: none;
}

.box-option:nth-child(2):hover,
.box-option:nth-child(2):active img.brand {
    filter: grayscale(1);
}
.box-option:last-child:hover,
.box-option:last-child:active img.brand {
    filter: grayscale(1);
}
.box-option:nth-child(2):hover p.alerting-feature {
    display: block;
    font-size: 0.875em;
}
.box-option:nth-child(2):active p.alerting-feature {
    display: block;
    font-size: 0.875em;
}
.box-option:last-child:hover p.alerting-feature {
    display: block;
    font-size: 0.875em;
}
.box-option:last-child:active p.alerting-feature {
    display: block;
    font-size: 0.875em;
}

aside {
    position: absolute;
    bottom: 0;
    z-index: 1;

    width: 100%;
    background-color: white;
    padding: 10px 12.5px;

    display: grid;
}

aside a.btn-buy {
    margin: auto;
    display: block;
    padding: 10px 156px;
    background-color: #fec429;
    border-radius: 5px;

    text-decoration: none;
    color: white;
}

a.btn-buy:hover {
    background-color: #eeb927;
}

p.alerting-to-choose {
    display: none;
    margin: 5px 0 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    nav a.back-btn {
        padding: 28px 35px;
    }

    main {
        padding: 40px 85px;
    }

    aside {
        display: grid;
    }

    .box-confirmation {
        margin: auto;
        width: 375px;
        background-color: white;
        padding: 20px 5px;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        margin: auto;
        max-width: 768px;

        box-shadow: 1px 2px 10px rgba(204, 204, 204, 0.425);
    }

    aside {
        width: 768px;
        padding: 0;
    }

    .box-confirmation {
        padding: 10px 5px;
    }
}
